<div class="row justify-content-center">
  <div class="col-lg-4">
    <h2>Créer ton compte !</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, :label => "Email", autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :first_name, :label => "Prénom", autofocus: true,
                    input_html: { autocomplete: "given-name" }%>
        <%= f.input :phone_number, :label => "Numéro de téléphone", id => "user_phone_number" as: :integer, autofocus: true,
                    input_html: { autocomplete: "tel" }%>
        <%= f.input :last_name, :label => "Nom de famille", autofocus: true,
                    input_html: { autocomplete: "family-name" }%>
        <%= f.input :password,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

<%# Style - hidding les * de required et les fleches default de integer dans le form%>

<style>

<%# enlever les * de required %>

  abbr[title="required"] {
    display: none;
  }

<%# enlever les fleches de integer default dans le form  %>

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

</style>

<script src="path/to/intlTelInput.js"></script>
<script>
  var input = document.querySelector("#user_phone_number");
  window.intlTelInput(input, {
  });
</script>
