<div class="container mt-4 col-lg-4 col-md-6 col-sm-12">
  <h1>Nouvelle Réservation de massage</h1>
  <%= simple_form_for [@user,@booking] do |f| %>
    <%= f.input :location, as: :radio_buttons, collection: Booking::LOCATIONS%>
    <%= f.input :massage_type, as: :radio_buttons, collection: Booking::TYPES%>
    <%= f.input :date %>
    <%= f.input :time, as: :select, collection: Booking::TIMES%>
    <%= f.submit "Submit", class:"form-actions btn-perso w-100 mb-2"%>
    <% end %>
