  hello <%= current_user.first_name %> !

<div class="container mt-4 col-lg-11 col-md-6 col-sm-12">
  <h1>Nouvelle Réservation de massage</h1>
  <%= simple_form_for [@user,@booking] do |f| %>
  <div class="d-flex mt-5 align-items-center justify-content-center">
  <div class="d-flex flex-column">
    <%= f.input :location, as: :radio_buttons, collection: Booking::LOCATIONS%>
    <%= f.input :massage_type, as: :radio_buttons, collection: Booking::TYPES%>
    </div>
    <div class='ml-5'>
    <%= f.input :date, as: :string, required: false, input_html: { class: "label-hidden datepicker"} %>
    </div>
        <div class='ml-5'>
    <%= f.input :time, as: :select, collection: Booking::TIMES%>
    </div>
    </div>
    <%= f.submit "Submit", class:"form-actions btn-perso w-40 mb-2"%>
    <% end %>


