<div class="main">
  <nav>
    <div class='logo'>
      <%=image_tag('https://res.cloudinary.com/mamounbenbra/image/upload/v1624923536/SIGLE_LYFT_BY_EVY_OR_ynxj3f.png', :class => "img_preview")%>
    </div>
    <ul class='nav-links'>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="home-writting text-center">
      <h1 class='ok'>Evy Cifaï - facialiste</h1>
      <h1 class='okk1 d-block d-sm-none'>Evy Cifaï facialiste</h1>
      <h4 class='okk'>Paris & Casablanca</h4>
    </div>
  </div>
</div>
<div class="r">
  <div class="second col-lg-8 col-sm-12">
      <p>Evy est facialiste depuis plus de 15 ans. Elle a créé sa méthode L.Y.F.T by Evy en combinant le Face yoga, le Face training et le Face massage. C’est sur une connaissance solide du savoir-faire asiatique, exclusivement manuel, qu’elle élabore chacun de ses soins en fonction des besoins de chaque personne.</p>
    </div>
</div>
<div class="new row justify-content-center align-items-start">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="mr-2 ml-2 card card1">
       <%=image_tag('https://res.cloudinary.com/mamounbenbra/image/upload/v1625266838/Screenshot_2021-07-02_at_23.58.55_rm9ef6.png', :class =>"img")%>
      <p class="soin">Soin #1</p>
      <h1 class="mt-2 mb-4">Lyft By Evy</h1>
      <p>visage / energétique</p>
       <%= link_to "en savoir plus", lyft_path, class: "savoir" %>
      <h4 class="heure">90min</h4>
      <h5 class="price">150€</h5>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="ml-2 mr-2 card card2">
    <%=image_tag('https://res.cloudinary.com/mamounbenbra/image/upload/v1625267480/Screenshot_2021-07-02_at_23.59.11_sv54cb.png', :class =>"img")%>
      <p class="soin">Soin #2</p>
      <h1 class="n mt-2 mb-4">Drainage Renata França</h1>
      <p>corps / tonique</p>
      <%= link_to "en savoir plus", renata_path, class: "savoir" %>
      <h4 class="heure">90min</h4>
      <h5 class="price">150€</h5>
    </div>
  </div>
</div>
<div class="r">
  <div class="second col-lg-8 col-sm-12">
      <p>Plus qu’un soin, le Lyft by Evy est un voyage sensoriel singulier qui sublime la beauté de chaque femme. </p>
    </div>
</div>
<div class="row flex-column justify-content-center align-items-center">
  <div class="yay">
    <p class='new1'>new!</p>
    <p class="mb-5 yay1 text-center">A partir de l’automne 2021, des <strong>formations</strong> en ligne seront proposées pour les <strong>professionnels!</strong></p>
    <p class="text-center m-0 savoir1">en savoir plus</p>
  </div>
</div>
<div class="footer">
  <%= link_to("https://www.instagram.com/lyftbyevy/") do %>
                  <i class="icon fab fa-instagram"></i>
  <% end %>
  <div class='logo'>
      <%=image_tag('https://res.cloudinary.com/mamounbenbra/image/upload/v1624923536/SIGLE_LYFT_BY_EVY_OR_ynxj3f.png', :class => "img_preview")%>
    </div>
  <%= link_to("https://www.facebook.com/profile.php?id=100009249302877") do %>
                  <i class="icon fab fa-facebook-f"></i>
  <% end %>
</div>

