<div class='lyft pt-5'>
   <%= render "shared/nav" %>
  <div class="row justify-content-center">
    <div class="lyft1 justify-content-center col-md-8 col-sm-12 col-lg-6">
     <div class="la d-flex flex-column align-items-center justify-content-center">
        <h1 class="n1 mt-5 mb-3">Drainage Renata França</h1>
        <p class="soin1 mb-5">Certifiée depuis 2019 !</p>
         </div>
        <p class='text-justify repo'>Une nouvelle façon de revisiter le drainage du corps. C’est d’abord un massage très tonique non douloureux. Le ventre dégonfle, les jambes s’affinent et la qualité de la peau est comme gainée et lissée. Les résultats se perçoivent dès la première séance. Les femmes enceintes peuvent aussi bénéficier de ce drainage. Ce drainage s’adresse à toutes les femmes qui souhaitent embellir leur ligne. Le tarif de ce soin au Maroc est de 1500dhs.
        </p>
    </div>
  </div>
   <div class='d-flex y justify-content-center container col-lg-6 col-sm-12'>
  <iframe class='w-100 u mb-5' src="https://www.youtube.com/embed/qa3MzWQhzyo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
   <h1 class="n1 mt-2 mb-2" style='color: #808080 !important'>Q&A</h1>
<%= form_tag '/renata#lol', method: :get do %>
<div id="lol" class=" d-flex mt-5 justify-content-center container align-items-center">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control lala col-lg-4 col-md-7 col-sm-10",
    placeholder: "Cherchez un mot!"%>
  <%= submit_tag "Chercher", class: "ml-4 m-0  col-lg-1 col-md-2 col-sm-2 env1 w-auto" %>
<% end %>
</div>
    <% if user_signed_in? %>
       <%= link_to new_question_path do %>
       <i class="fas yes5 fa-plus-circle"></i>
       <% end %>
    <% end %>
      <div class="container contactez col-lg-8 col-md-12 col-sm-12">
        <% @questions.each do |question|  %>
          <p class="text-justify ques"><%= question.question %></p>
          <p class="text-justify repo" style='color: #808080 !important'><%= question.answer %></p>
          <% if user_signed_in? %>
          <div class="d-flex justify-content-center align-items-center mb-5">
             <%= link_to question_path(question), method: :delete, data: { confirm: 'Supprimer cette question?' } do %>
             <i class="yes6 mr-5 fas fa-trash-alt"></i>
             <% end %>
             <%= link_to edit_question_path(question) do %>
             <i class="fas yes7 fa-pen"></i>
             <% end %>
          </div>
          <% end %>
        <% end %>
      </div>
 <%= render "shared/footer" %>


